<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>静态资源文件</title>
</head>
<body>
    Hello <span th:text="慕课网"></span>
    <br>
    Hello <span th:text="${there}"></span>
    <br>
    <input th:value="${there}">
    <br>

    <span th:text="${#strings.isEmpty(there)}"></span>
    <br>
    <span th:text="${#strings.length(there)}"></span>
    <br>
    <span th:text="${#strings.contains(there, 'ac')}"></span>
    <br>
    <span th:text="${#strings.startsWith(there, 'a')}"></span>
    <br>
    <span th:text="${#strings.endsWith(there, 'b')}"></span>
    <br>

    展示日期：<span th:text="${birthday}"></span>
    <br>
    格式化日期：<span th:text="${#dates.format(birthday)}"></span>
    <br>
    指定格式化日期：<span th:text="${#dates.format(birthday, 'yyyy-MM-dd hh:mm:ss')}"></span>
    <br>

    <span th:if="${sex == 0}">女</span>
    <span th:if="${sex == 1}">男</span>
    <br>
    <span th:switch="${sex}">
        <span th:case="0">女</span>
        <span th:case="1">男</span>
        <span th:case="*">未知</span>
    </span>
    <br>
    <p th:each="str,status : ${list}">
        输出：<span th:text="${str}"></span><br>
        current：<span th:text="${status.current}"></span><br>
        count：<span th:text="${status.count}"></span><br>
        first：<span th:text="${status.first}"></span><br>
        last：<span th:text="${status.last}"></span><br>
        odd：<span th:text="${status.odd}"></span><br>
        even：<span th:text="${status.even}"></span><br>
        index：<span th:text="${status.index}"></span><br>
        size：<span th:text="${status.size}"></span>
    </p>
    <span th:each="attr : ${map}">
        <!--<span th:text="${attr}"></span>
        <span th:text="${attr.key}"></span>
        <span th:text="${attr.value}"></span>-->
        <span th:if="${attr.key == 'list'}">
            <span th:each=" s : ${attr.value}">
                <span th:text="${s}"></span>
            </span>
        </span>
    </span>
    <br>

    <!--request：<span th:text="${#request.getAttribute('englishName')}"></span>
    <br>
    session：<span th:text="${#session.getAttribute('userToken')}"></span>
    <br>-->
</body>
</html>